<div class="tours-in-progress-container">
  <div class="row table-title-container">
    <div class="small-12 columns text-center">
    <h2 class="table-title"><%= house.name %></h2>
    </div>
  </div>

  <div class="tours-in-progress-house-container">
    <div class="row tours-in-progress-header">
      <div class="small-3 small-offset-1 columns">Tour Start Time</div>
      <div class="small-4 columns text-center">Tour Status</div>
      <div class="small-4 columns text-center">Tour Selfie</div>
    </div>
