<div class="row">
  <div class="small-3 small-offset-1 columns bed-check-details-initials"><%= student_check.initials || " - " %></div>
  <div class="small-4 columns text-center"><%= student_check.status %></div>
  <div class="small-4 columns text-center"><%= student_check.comment || " - " %></div>
</div>
