<div class="tours-in-progress-top-container">
  <%= render 'update_tours', houses: @houses %>
</div>

<%= link_to "Download Excel", tours_in_progress_path(format: "xls"), class: "button tours-in-progress-button" %>
