<footer class="footer">
  <div class="row">
    <div class="small-12 columns text-center">
      <p>Brandon School &nbsp&nbsp | &nbsp&nbsp
        27 Winter Street &nbsp&nbsp | &nbsp&nbsp Natick, Massachusetts 01760-1099
        &nbsp&nbsp | &nbsp&nbsp 508.655.6400<p>
    </div>
  </div>
</footer>
