<div class="row report-filter-title-container">
  <div class="small-12 columns text-center">
  <h1 class="report-filter-title">Report Filters</h1>
  </div>
</div>

<ul class="tabs" data-tabs id="filter-tabs">
  <div class="small-2 columns">
    <li class="tabs-title is-active"><a href="#panel1" aria-selected="true">Houses</a></li>
  </div>

  <div class="small-2 columns">
    <li class="tabs-title"><a href="#panel2">Check In's</a></li>
  </div>

  <div class="small-2 columns">
    <li class="tabs-title"><a href="#panel3">Student Status</a></li>
  </div>

  <div class="small-2 columns">
    <li class="tabs-title"><a href="#panel4">Student Initials</a></li>

  </div>

  <div class="small-2 columns">
    <li class="tabs-title"><a href="#panel5">Start Date</a></li>
  </div>

  <div class="small-2 columns">
    <li class="tabs-title"><a href="#panel6">End Date</a></li>
  </div>
</ul>

<div class="tabs-content" data-tabs-content="filter-tabs">

  <div class="tabs-panel is-active" id="panel1">
    <%= render 'houses_form', houses: @houses %>
  </div>

  <div class="tabs-panel" id="panel2">
    <%= render 'check_ins_form', student_checks_by_house: @student_checks_by_house %>
  </div>

  <div class="tabs-panel" id="panel3">
    <%= render 'status_form', filtered_student_check_ids: @filtered_student_check_ids %>
  </div>

  <div class="tabs-panel" id="panel4">
    <%= render 'student_initials_form', { student_initials: @student_initials, filtered_check_ids: @filtered_check_ids } %>
  </div>

  <div class="tabs-panel" id="panel5">
    <p>Start Date Form Here</p>
  </div>

  <div class="tabs-panel" id="panel6">
    <p>End Date Form Here</p>
  </div>
</div>
