<h1 class="text-center">Reports</h1>

<div class="row text-center">
  <div class="small-2 columns">
    <%= render 'houses_form', houses: @houses %>
  </div>

  <div class="small-2 columns">
    <%= render 'check_ins_form', check_in_ids: @check_in_ids %>
  </div>

  <div class="small-2 columns">
    <%= render 'status_form', filtered_student_check_ids: @filtered_student_check_ids %>
  </div>

  <div class="small-2 columns">
      <%= render 'student_initials_form', { student_initials: @student_initials, filtered_check_ids: @filtered_check_ids } %>
  </div>

  <div class="small-2 columns">
    <span>Date</span>
  </div>
</div>
