<div class="row">
  <div class="small-12 columns text-center">
    <h1>Scan a QR Code</h1>

    <video width="320px" height="240px" id="video" autoplay></video>
  </div>
</div>

<div class="row">
  <div class="small-1 medium-4 columns"></div>
  <div class="small-10 small-centered medium-4 columns generate-student-check-button-container text-center">
    <%= link_to "Check on Beds",
        student_checks_edit_path(tour_id: @tour.id),
        class: "button", id: "generate-student-check-button",
        method: :post %>
  </div>
  <div class="small-1 medium-4 columns"></div>
</div>
