// @import "*";

// *= require foundation_and_overrides
// *= require_self
// *= require_tree .

.button {
  border-radius: .5em;
  font-weight: bold;
}

.home-heading {
  margin-top: 5em;
}

.student-check-form {
  display: none;
}

.student-initials {
  display: none;
}

#generate-student-check-button {
  display: none;
}

nav {
  margin-top: 1.5em;
  padding-bottom: 1em;
  border-bottom: solid 1px #006C3B;
}

.notice, .alert {
  text-align: center;
  background-color: #006C3B;
  color: white;
  margin-bottom: 1em;
}

.session-button {
  margin-left: 1em;
}

.sign-in-container {
  width: 100%;
}

.footer {
  background-color: #006C3B;
  color: white;
}

.footer p {
  margin-top: 1em;
}

.generate-student-check-button-container {
  margin-top: 1em;
  margin-bottom: 2em;
}

.table-title-container {
  margin-top: 2em;
}

.table-title {
  background-color: #006C3B;
  color: white;
  border-radius: .5em .5em 0em 0em;
}

.new-resource-button {
  margin: 1em;
  font-size: 1.25em;
}

.reveal {
  outline: 2px solid #006C3B;
}

.delete-resource-button {
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 1.15em;
  font-weight: normal;
}

.pagination {
  text-align: center;
}

.pagination span a {
  color: #A3258C;
  display: inline;
}

.pagination .current {
  background-color: #A3258C;
  opacity: .5;
}

.not-active {
  pointer-events: none;
  cursor: default;
  color: grey;
}

.report-filters-container {
  border: black 1px solid;
  padding: 1em;
}

.report-filter-title-container {
  margin-top: 2em;
}

.report-filter-title {
  background-color: #006C3B;
  color: white;
  border-radius: .5em .5em 0em 0em;
  margin-bottom: 0;
}

.tabs a {
  font-size: 1em; 
  color: #A3258C;
}

.tabs a:hover {
  color: #A3258C;
  opacity: .5;
}

a:focus, .tabs-title > a[aria-selected='true'] {
  color: white;
  background-color: #A3258C;
}
