// @import "*";

// *= require foundation_and_overrides
// *= require_self
// *= require_tree .

@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.button {
  border-radius: .5em;
  font-weight: bold;
}

.home-heading {
  margin-top: 5em;
}

.student-check-form {
  display: none;
}

.student-initials {
  display: none;
}

#generate-student-check-button {
  display: none;
  padding-right: 4em;
  padding-left: 4em;
}

nav {
  margin-top: 1.5em;
  padding-bottom: 1em;
  border-bottom: solid 1px #006C3B;
}

.notice, .alert {
  text-align: center;
  background-color: #006C3B;
  color: white;
  margin-bottom: 1em;
}

.session-button {
  margin-left: 1em;
}

.sign-in-container {
  width: 100%;
}

.footer {
  background-color: #006C3B;
  color: white;
}

.footer p {
  margin-top: 1em;
}

.generate-student-check-button-container {
  margin-top: 1em;
  margin-bottom: 2em;
}

.table-title-container {
  margin-top: 2em;
}

.table-title {
  background-color: #006C3B;
  color: white;
  border-radius: .5em .5em 0em 0em;
}

.new-resource-button {
  margin: 1em;
  font-size: 1.25em;
}

.reveal {
  outline: 2px solid #006C3B;
}

.delete-resource-button {
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 1.15em;
  font-weight: normal;
}

.pagination {
  text-align: center;
}

.pagination span a {
  color: #A3258C;
  display: inline;
}

.pagination .current {
  background-color: #A3258C;
  opacity: .5;
}

.not-active {
  pointer-events: none;
  cursor: default;
  color: grey;
}

.report-filters-container {
  border: black 1px solid;
  padding: 1em;
}

.report-filter-title-container {
  margin-top: 2em;
}

.report-filter-title {
  background-color: #006C3B;
  color: white;
  border-radius: .5em .5em 0em 0em;
  margin-bottom: 0;
}

.tabs a {
  font-size: 1em;
  color: #A3258C;
}

.tabs a:hover {
  color: #A3258C;
  opacity: .5;
}

#filter-tabs a:focus, .tabs-title > a[aria-selected='true'] {
  color: white;
  background-color: #A3258C;
}

.tabs {
  border-top: none;
}

.tabs-title {
  float: none;
}

.filter-button-container {
  margin-top: 1em;
}

.filter-button {
  width: 50%;
}

#filter-reset-button {
  border-top-left-radius: 0em;
  border-bottom-left-radius: 0em;
  border-left: white 1px solid;
}

#filter-submit-button {
  border-top-right-radius: 0em;
  border-bottom-right-radius: 0em;
  border-right: white 1px solid;
}

#filter-reset-button-container {
  padding-left: 0;
}

#houses-tab-container {
  padding-right: 0;
}

#check-ins-tab-container {
  padding-left: 0;
  padding-right: 0;
}

#student-status-tab-container {
  padding-left: 0;
  padding-right: 0;
}

#date-range-tab-container {
  padding-left: 0;
}

#filter-submit-button-container {
  padding-right: 0;
}

#report-results-table {
  margin-top: 1em;
}

.new-tour-form {
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
}

.csv-download-container {
  display: none;
}

.csv-download-container a {
  padding: .85em 8em;
}

.top-bar {
  background-color: white;
}

.top-bar-right {
  background-color: white;
  padding-top: 1.85em;
  padding-right: 1em;
}

.top-bar-left .dropdown {
  background-color: white;
}

.top-bar-right li {
  background-color: white;
}

.off-canvas-wrapper {
  border-bottom: solid 1px #006C36;
}

// custom large 1135px and up
@media screen and (min-width: 70.9375em) {

}

// custom medium 899px to 1134px
@media screen and (min-width: 56.1875em) and (max-width: 70.875em) {

}

// large screens only; 1025px and up
@media screen and (min-width: 64.063em) {

}

// custom large screens and up; 1024px - 1115px and up
@media screen and (min-width: 64em) and (max-width: 69.6875em) {

}

// custom medium screens; 818px - 1023px
@media screen and (min-width: 51.125em) and (max-width: 63.9375em) {

}
// medium screens only; 641px - 1024px
@media screen and (min-width: 40em) and (max-width: 64em) {

}

// custom medium screens and smaller; 1024px and under
@media screen and (max-width: 64em) {
  .title-bar {
    margin: 1em;
    background-color: white;
    color: black;
  }

  .menu-icon::after {
    background: black;
    box-shadow: 0 7px 0 black, 0 14px 0 black;
  }

  #offCanvasRight {
    background-color: #A3258C;
  }

  #offCanvasRight ul li a {
    color: white;
  }
}

// small screens only; 640px and under
@media screen and (max-width: 39.99em) {

}

// custom small screens; 525px and under
@media screen and (max-width: 32.8125em) {
  #filter-submit-button, #filter-reset-button {
    font-size: .7em;
  }
}

// custom small screens; 614px - 640px
@media screen and (min-width: 38.3175em) and (max-width: 39.99em) {

}
